#no-mobile {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--green);
  justify-content: center;
  align-items: center;
  font-size: 30px;
  top: 0;
  left: 0;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
